.card{
  width:200px;
  height:200px;
  padding:15px;
  margin:10px;
  display: flex;
  flex-direction: column  ;
  color:black;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  background-color: rgb(178, 178, 181);
  box-shadow: 5px 5px 10px rgba(89, 88, 88, 0.982),-5px -5px 10px rgba(108, 107, 107, 0.9);
}

.card .card-img{
  height:auto;
  background-color: rgba(30, 29, 29, 0.879);
  width:100px;
  padding:5px;
  margin:5px;
  margin-top:15px;
  border-radius: 50%;
  object-fit: cover;
}

.card .card-title{
  color:rgb(12, 12, 12);
  margin:10px;
}

.card .card-description{
  margin:8px;
}
